// Compile main.scss as public/app.css

// 1. Import Bootstrap as standard
@import "../../../node_modules/bootstrap/scss/functions";

$white: #ffffff;
$black: #1E1E1E;
$primary: #9DFF20;
$secondary: #1D1C36;

// Fonts
$font-family-base: 'Kode Mono', monospace;
$link-decoration: none;

// 2. Include remainder of required Bootstrap stylesheets
@import "../../../node_modules/bootstrap/scss/variables";

// 3. Include any default map overrides here

// 4. Include remainder of required parts
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";

// 5. Optionally include any other parts as needed: Uncomment components to reduce the filesize
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/alert";
@import "../../../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../../node_modules/bootstrap/scss/utilities/api";

// General
:root{
  font-size: 14px;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  background-color: $black;
  color: $white;
  font-family: $font-family-base;
}
.page-enter {
  transform: translateY(100%);
}
.page-enter-active {
  transform: translateY(0%);
  transition: all 400ms ease-out;
}
.page-exit {
  transform: translateY(0%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.page-exit-active {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transform: translateY(-130%);
  transition: all 400ms ease-out;
}
a, a:hover {
  color: $white;
}

p {
  word-break: break-word;
  hyphens: auto;
}

.cursor__dot div {
  z-index: 999999 !important;
  &:last-child{
    background-color: $primary !important;
  }
  &:first-child{
    background-color: rgba($primary, .4) !important;
  }
}

.btn {
  padding: .5rem 2rem;
  color: $black;
  position: relative;
  border: $primary 2px solid;
  background: $primary;
  overflow: hidden;
  transition: all .35s;
  cursor: pointer;
  &:hover{
    filter: brightness(.6);
    color: $black;
    background: $primary;
    border-color: $primary;
  }

  &.btn-white{
    color: $white;
    background-color: transparent;
    border-color: $white;
    &:hover{
      filter: brightness(1);
      background-color: $white;
      color: $black;
    }
  }
}

.opener{
  strong{
    transition: .35s all;
    font-weight: 500;
    opacity: .6;
    &:hover, &:focus{
      opacity: 1;
      color: $primary;
    }
  }
}

footer{
  a{
    text-decoration: underline
  }
}

// INCLUDES
// @import "general/header";
@import "general/login";